
<footer  class="footer">
	<!-- Put the content here -->
	<div style="margin-left:40%; margin-right:40% ">
	<a href="../license/index for 8051 Microcontroller and Applications Lab.html" target="_blank" style="margin:auto"><font size="3" > This lab is contributed by </font></a>
	</div>
</footer> 



<!-- /.control-sidebar -->