   

      <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
          <!-- search form -->
          <form action="#" method="get" class="sidebar-form">
            <div class="input-group"></div>
          </form>
          <!-- /.sear ch form -->
          <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu">
                <li class="treeview" id="aim">
                    <a href="index.php">
                        <i class="fa fa-files-o"></i> <span>Aim</span>

                    </a>
                </li>
                <li class="treeview" id="theory">
                    <a href="theory.php" >
                        <i class="fa fa-files-o"></i>
                        <span>Theory</span>
                    </a>
                </li>
				
                <!--   <li class="treeview" id="numerical">
                    <a href="numerical.php">
                        <i class="fa fa-laptop"></i>
                        <span>Numerical</span>
                        <span class="pull-right-container">
                        </span>
                    </a>
                </li>
                <li class="treeview" id="program">
                    <a href="program.php">
                        <i class="fa fa-laptop"></i>
                        <span>Program</span>
                        <span class="pull-right-container">
                        </span>
                    </a>
                </li> 
				
				<li class="treeview" id="pretest">
                    <a href="pretest.php">
                        <i class="fa fa-files-o"></i> <span>Pre Test</span>

                    </a>
                </li>
				
				<li class="treeview" id="program">
                    <a href="result.php">
                        <i class="fa fa-laptop"></i>
                        <span>Result</span>
                        <span class="pull-right-container">
                        </span>
                    </a>
                </li>
				
				-->
				
			
 
                <li class="treeview" id="procedure">
                    <a href="procedure.php">
                        <i class="fa fa-files-o"></i> <span>Procedure</span>
                    </a>
                </li>
                <li class="treeview" id="simulation">
                    <a href="simulation.php">
                        <i class="fa fa-laptop"></i>
                        <span>Simulation</span>
                        <span class="pull-right-container">
                        </span>
                    </a>
                </li>
				
				
				<!-- <li class="treeview" id="posttest">
                    <a href=" posttest.php">
                        <i class=" fa fa-files-o">
                    </i>
                    <span>Post Test</span>
                    <span class="pull-right-container">
                    </span>
                    </a>
                </li>  -->

               
                
                
                <li class="treeview" id="ref">
                    <a href="references.php">
                        <i class="fa fa-files-o"></i>
                        <span>References</span>
                        <span class="pull-right-container">
                        </span>
                    </a>
                </li>
            </ul>
        </section>
        <!-- /.sidebar -->
      </aside>

   