<body oncontextmenu="return false;"> 

<div name="display_quiz">
	
	<form style="font-size:20px">
        Q1.The LED is usually made of materials like ___________
        <br>
        
        <br />
        A &nbsp;<input type="radio" name="q1" value="a" id="q1a" onclick="ans1();"> <label for="q1a">GaAs<br>
        B &nbsp;<input type="radio" name="q1" value="b" id="q1b" onclick="ans1();"><label for="q1b">C and Si<br>
        C &nbsp;<input type="radio" name="q1" value="c" id="q1c" onclick="ans1();"><label for="q1c">GeAs<br>
        D &nbsp;<input type="radio" name="q1" value="d" id="q1d" onclick="ans1();"><label for="q1d">None of the above<br>

    </form>
    <br>
    <div id="ans1" style="display:none;color:blue;font-size:26px">Ans is A</div>
    <br>
	
	
	
	<form style="font-size:20px">
        Q2. If the junction temperature of LED is increased,the radiant output power __________________.
        <br>
        
        <br />
        A &nbsp;<input type="radio" name="q2" value="a" id="q2a" onclick="ans2();"> <label for="q2a">Increases<br>
        B &nbsp;<input type="radio" name="q2" value="b" id="q2b" onclick="ans2();"><label for="q2b">Decreases<br>
        C &nbsp;<input type="radio" name="q2" value="c" id="q2c" onclick="ans2();"><label for="q2c">Remains the same<br>
        D &nbsp;<input type="radio" name="q2" value="d" id="q2d" onclick="ans2();"><label for="q2d">None of the above<br>

    </form>
    <br>
    <div id="ans2" style="display:none;color:blue;font-size:26px">Ans is B</div>
    <br>
	
	
	<form style="font-size:20px">
        Q3. An eight segment is present in the seven segment display, what is the use?
        <br>
        
        <br />
        A &nbsp;<input type="radio" name="q3" value="a" id="q3a" onclick="ans3();"> <label for="q3a">Has no use<br>
        B &nbsp;<input type="radio" name="q3" value="b"  id="q3b" onclick="ans3();"><label for="q3b">For displaying non-integer numbers<br> 
        C &nbsp;<input type="radio" name="q3" value="c" id="q3c" onclick="ans3();"><label for="q3c">For displaying integer numbers<br>
        D &nbsp;<input type="radio" name="q3" value="d" id="q3d" onclick="ans3();"><label for="q3d">None of the above<br>

    </form>
    <br>
    <div id="ans3" style="display:none;color:blue;font-size:26px">Ans is B</div>
    <br>
	
	
	<form style="font-size:20px">
        Q4. Refer to the figure given below and choose the appropriate symbol for an LED?
        <br>
        <img src="../../labs/exp1/images/led_pic1.jpg" height="200" width="300">
        <br />
        A &nbsp;<input type="radio" name="q4" value="a" id="q4a" onclick="ans4();"> <label for="q4a">d<br>
        B &nbsp;<input type="radio" name="q4" value="b"  id="q4b" onclick="ans4();"><label for="q4b">c<br>
        C &nbsp;<input type="radio" name="q4" value="c" id="q4c" onclick="ans4();"><label for="q4c">b<br>
        D &nbsp;<input type="radio" name="q4" value="d" id="q4d" onclick="ans4();"><label for="q4d">a<br>

    </form>
    <br>
    <div id="ans4" style="display:none;color:blue;font-size:26px">Ans is D</div>
    <br>
	
	
	<form style="font-size:20px">
        Q5. To display a digit on seven-segment display,we have to apply its __________ at the input.
        <br>
        
        <br />
        A &nbsp;<input type="radio" name="q5" value="a" id="q5a"  onclick="ans5();"><label for="q5a">8 bit binary equivalent<br>
        B &nbsp;<input type="radio" name="q5" value="b"  id="q5b" onclick="ans5();"><label for="q5b">Grey code <br>
        C &nbsp;<input type="radio" name="q5" value="c" id="q5c"  onclick="ans5();"><label for="q5c">BCD<br>
        D &nbsp;<input type="radio" name="q5" value="d" id="q5d"  onclick="ans5();"><label for="q5d">None of the above<br>

    </form>
    <br>
    <div id="ans5" style="display:none;color:blue;font-size:26px">Ans is D</div>
    <br>
	
	
	<form style="font-size:20px">
        Q6. An LED is forward-biased. The diode should be ON, but no light is visible.  What can be the possible reason for it? 
        <br>
        
        <br />
        A &nbsp;<input type="radio" name="q6" value="a" id="q6a" onclick="ans6();"> <label for="q6a">The applied voltage is too small<br>
        B &nbsp;<input type="radio" name="q6" value="b"  id="q6b" onclick="ans6();"><label for="q6b">The series resistor is too small<br>
        C &nbsp;<input type="radio" name="q6" value="c" id="q6c" onclick="ans6();"><label for="q6c">The applied voltage is too high<br>
        D &nbsp;<input type="radio" name="q6" value="d" id="q6d" onclick="ans6();"><label for="q6d">None of the above<br>

    </form>
    <br>
    <div id="ans6" style="display:none;color:blue;font-size:26px">Ans is A</div>
    <br>
	
	
	<form style="font-size:20px">
        Q7. Is the seven segment display visible in the simulator section implemented using the common anode display concept?
        <br>
        
        <br />
        A &nbsp;<input type="radio" name="q7" value="a" id="q7a" onclick="ans7();"> <label for="q7a">No<br>
        B &nbsp;<input type="radio" name="q7" value="b"  id="q7b" onclick="ans7();"><label for="q7b">yes<br>
        C &nbsp;<input type="radio" name="q7" value="c" id="q7c" onclick="ans7();"><label for="q7c">Not sure<br>
       

    </form>
    <br>
    <div id="ans7" style="display:none;color:blue;font-size:26px">Ans is A</div>
    <br>
	
	
	<form style="font-size:20px">
        Q8. What diode is used in seven-segment displays?
        <br>
        
        <br />
        A &nbsp;<input type="radio" name="q8" value="a" id="q8a" onclick="ans8();"> <label for="q8a">Zener<br>
        B &nbsp;<input type="radio" name="q8" value="b"  id="q8b" onclick="ans8();"><label for="q8b">Laser<br>
        C &nbsp;<input type="radio" name="q8" value="c" id="q8c" onclick="ans8();"><label for="q8c">Schottky<br>
        D &nbsp;<input type="radio" name="q8" value="d" id="q8d" onclick="ans8();"><label for="q8d">LED<br>

    </form>
    <br>
    <div id="ans8" style="display:none;color:blue;font-size:26px">Ans is D</div>
    <br>
	
	
	<form style="font-size:20px">
        Q9. LED is used in fancy electronic devices such as toys emitting __________________
        <br>
        
        <br />
        A &nbsp;<input type="radio" name="q9" value="a" id="q9a" onclick="ans9();"> <label for="q9a">X-rays<br>
        B &nbsp;<input type="radio" name="q9" value="b"  id="q9b" onclick="ans9();"><label for="q9b">Ultraviolet light<br>
        C &nbsp;<input type="radio" name="q9" value="c" id="q9c" onclick="ans9();"><label for="q9c">Visible light<br>
        D &nbsp;<input type="radio" name="q9" value="d" id="q9d" onclick="ans9();"><label for="q9d">Radio waves<br>

    </form>
    <br>
    <div id="ans9" style="display:none;color:blue;font-size:26px">Ans is C</div>
    <br>
	
	
	<form style="font-size:20px">
        Q10.which of the following IC is related with seven segment display ?
        <br>
        
        <br />
        A &nbsp;<input type="radio" name="q10" value="q10a" id="q10a" onclick="ans10();"> <label for="q10a">IC 7832<br>
        B &nbsp;<input type="radio" name="q10" value="q10b"  id="q10b" onclick="ans10();"><label for="q10b">IC 7447<br>
        C &nbsp;<input type="radio" name="q10" value="q10c" id="q10c" onclick="ans10();"><label for="q10c">IC 7408<br>
        D &nbsp;<input type="radio" name="q10" value="q10d" id="q10d" onclick="ans10();"><label for="q10d">IC 7490<br>

    </form>
    <br>
    <div id="ans10" style="display:none;color:blue;font-size:26px">Ans is B</div>
    <br>

	
	</div>
	
	
	<script name="display_quiz">
        function ans1()
        {
            var div1 = document.getElementById("ans1");
            div1.style.display = "inline";
        }
        function ans2() {
            var div2 = document.getElementById("ans2");
            div2.style.display = "inline";
        }
        function ans3() {
            var div3 = document.getElementById("ans3");
            div3.style.display = "inline";
        }
        function ans4() {
            var div4 = document.getElementById("ans4");
            div4.style.display = "inline";
        }
        function ans5() {
            var div5 = document.getElementById("ans5");
            div5.style.display = "inline";
        }
        function ans6() {
            var div6 = document.getElementById("ans6");
            div6.style.display = "inline";
        }
		function ans7() {
            var div7 = document.getElementById("ans7");
            div7.style.display = "inline";
        }
		function ans8() {
            var div8 = document.getElementById("ans8");
            div8.style.display = "inline";
        }
		function ans9() {
            var div9 = document.getElementById("ans9");
            div9.style.display = "inline";
        }
		function ans10() {
            var div10 = document.getElementById("ans10");
            div10.style.display = "inline";
        }
		
		
    </script>
	
	<script name="keyblocks">
document.onkeydown = function(e) {
if(event.keyCode == 123) {
return false;
}
if(e.ctrlKey && e.shiftKey && e.keyCode == 'I'.charCodeAt(0)){
return false;
}
if(e.ctrlKey && e.shiftKey && e.keyCode == 'J'.charCodeAt(0)){
return false;
}
if(e.ctrlKey && e.keyCode == 'U'.charCodeAt(0)){
return false;
}
}

</script> 

</body>