<body oncontextmenu="return false;"> 

<div name="display_quiz">
	
	<form style="font-size:20px">
        Q1.Increase in one bit at the output of ADC occurs when input increasse by:
        <br>
        
        <br />
        A &nbsp;<input type="radio" name="q1" value="a" id="q1a" onclick="ans1();"> <label for="q1a">(Vlow-Vhigh)/(2^n)<br>
        B &nbsp;<input type="radio" name="q1" value="b" id="q1b" onclick="ans1();"><label for="q1b">(Vlow-Vhigh)*(8)<br>
        C &nbsp;<input type="radio" name="q1" value="c" id="q1c" onclick="ans1();"><label for="q1c">(Vlow+Vhigh)/8<br>
        D &nbsp;<input type="radio" name="q1" value="d" id="q1d" onclick="ans1();"><label for="q1d">(Vlow-Vhigh)/7<br>

    </form>
    <br>
    <div id="ans1" style="display:none;color:blue;font-size:26px">Ans is A</div>
    <br>
	
	
	
	<form style="font-size:20px">
        Q2. The resolution of the ADC used, is of:
        <br>
        
        <br />
        A &nbsp;<input type="radio" name="q2" value="a" id="q2a" onclick="ans2();"> <label for="q2a">7 bit resolution<br>
        B &nbsp;<input type="radio" name="q2" value="b" id="q2b" onclick="ans2();"><label for="q2b">8 bit resolution<br>
        C &nbsp;<input type="radio" name="q2" value="c" id="q2c" onclick="ans2();"><label for="q2c">0.0196v resolution<br>
        D &nbsp;<input type="radio" name="q2" value="d" id="q2d" onclick="ans2();"><label for="q2d">All of the above<br>

    </form>
    <br>
    <div id="ans2" style="display:none;color:blue;font-size:26px">Ans is B</div>
    <br>
	
	
	<form style="font-size:20px">
        Q3. An ADC is used for:
        <br>
        
        <br />
        A &nbsp;<input type="radio" name="q3" value="a" id="q3a" onclick="ans3();"> <label for="q3a">Generating analog signals<br>
        B &nbsp;<input type="radio" name="q3" value="b"  id="q3b" onclick="ans3();"><label for="q3b">Converting digital signals to analog signals<br> 
        C &nbsp;<input type="radio" name="q3" value="c" id="q3c" onclick="ans3();"><label for="q3c">Converting analog signals to digital signals<br>
        D &nbsp;<input type="radio" name="q3" value="d" id="q3d" onclick="ans3();"><label for="q3d">All of the above<br>

    </form>
    <br>
    <div id="ans3" style="display:none;color:blue;font-size:26px">Ans is C</div>
    <br>
	
	
	<form style="font-size:20px">
        Q4. Formula to find the resolution of ADC:
                    (n is the resolution in bits)
        <br>
        
        A &nbsp;<input type="radio" name="q4" value="a" id="q4a" onclick="ans4();"> <label for="q4a">(Vhigh)*(2^n)<br>
        B &nbsp;<input type="radio" name="q4" value="b"  id="q4b" onclick="ans4();"><label for="q4b">(Vhigh-Vlow)/(2^n)<br>
        C &nbsp;<input type="radio" name="q4" value="c" id="q4c" onclick="ans4();"><label for="q4c">(Vhigh)/(2^n)<br>
        D &nbsp;<input type="radio" name="q4" value="d" id="q4d" onclick="ans4();"><label for="q4d">(Vhigh+Vlow)/(2*n)<br>

    </form>
    <br>
    <div id="ans4" style="display:none;color:blue;font-size:26px">Ans is B</div>
    <br>
	
	
	<form style="font-size:20px">
        Q5. From Q1 and Q4 it can be stated that:
        <br>
        
        <br />
        A &nbsp;<input type="radio" name="q5" value="a" id="q5a"  onclick="ans5();"><label for="q5a">Resolution is the smallest change in output for a discrete change in input<br>
        B &nbsp;<input type="radio" name="q5" value="b"  id="q5b" onclick="ans5();"><label for="q5b">Vhigh-Vlow has no effect<br>
        C &nbsp;<input type="radio" name="q5" value="c" id="q5c"  onclick="ans5();"><label for="q5c">Both a and b<br>
        D &nbsp;<input type="radio" name="q5" value="d" id="q5d"  onclick="ans5();"><label for="q5d">None of the above<br>

    </form>
    <br>
    <div id="ans5" style="display:none;color:blue;font-size:26px">Ans is A</div>
    <br>
	
	
	<form style="font-size:20px">
        Q6. The DAC used in the experiment is of
        <br>
        
        <br />
        A &nbsp;<input type="radio" name="q6" value="a" id="q6a" onclick="ans6();"> <label for="q6a">128 bit resolution<br>
        B &nbsp;<input type="radio" name="q6" value="b"  id="q6b" onclick="ans6();"><label for="q6b">8 bit resolution<br>
        C &nbsp;<input type="radio" name="q6" value="c" id="q6c" onclick="ans6();"><label for="q6c">Both a and b<br>
        D &nbsp;<input type="radio" name="q6" value="d" id="q6d" onclick="ans6();"><label for="q6d">7 bit resolution<br>

    </form>
    <br>
    <div id="ans6" style="display:none;color:blue;font-size:26px">Ans is B</div>
    <br>
	
	
	<form style="font-size:20px">
        Q7. DAC is used for:
        <br>
        
        <br />
        A &nbsp;<input type="radio" name="q7" value="a" id="q7a" onclick="ans7();"> <label for="q7a">Reading analog values<br>
        B &nbsp;<input type="radio" name="q7" value="b"  id="q7b" onclick="ans7();"><label for="q7b">Converting digital signal to analog signal<br>
        C &nbsp;<input type="radio" name="q7" value="c" id="q7c" onclick="ans7();"><label for="q7c">All of the above<br>
       

    </form>
    <br>
    <div id="ans7" style="display:none;color:blue;font-size:26px">Ans is B</div>
    <br>
	
	
	<form style="font-size:20px">
        Q8. The output of DAC for increase in one bit is given by:
        <br>
        
        <br />
        A &nbsp;<input type="radio" name="q8" value="a" id="q8a" onclick="ans8();"> <label for="q8a">(Vhigh-Vlow)/(n^2)<br>
        B &nbsp;<input type="radio" name="q8" value="b"  id="q8b" onclick="ans8();"><label for="q8b">5V/8<br>
        C &nbsp;<input type="radio" name="q8" value="c" id="q8c" onclick="ans8();"><label for="q8c">(Vhigh-Vlow)/(2^n)<br>
        D &nbsp;<input type="radio" name="q8" value="d" id="q8d" onclick="ans8();"><label for="q8d">(Vhigh-Vlow)*(2)<br>

    </form>
    <br>
    <div id="ans8" style="display:none;color:blue;font-size:26px">Ans is C</div>
    <br>
	
	
	<form style="font-size:20px">
        Q9. Lower the value of |(Vhigh-Vlow)|:
        <br>
        
        <br />
        A &nbsp;<input type="radio" name="q9" value="a" id="q9a" onclick="ans9();"> <label for="q9a">Higher the resolution of ADC<br>
        B &nbsp;<input type="radio" name="q9" value="b"  id="q9b" onclick="ans9();"><label for="q9b">Higher the precision of ADC<br>
        C &nbsp;<input type="radio" name="q9" value="c" id="q9c" onclick="ans9();"><label for="q9c">Both a and b<br>
        D &nbsp;<input type="radio" name="q9" value="d" id="q9d" onclick="ans9();"><label for="q9d">None of the above<br>

    </form>
    <br>
    <div id="ans9" style="display:none;color:blue;font-size:26px">Ans is C</div>
    <br>
	
	
	<form style="font-size:20px">
        Q10.Step size is:
        <br>
        
        <br />
        A &nbsp;<input type="radio" name="q10" value="q10a" id="q10a" onclick="ans10();"> <label for="q10a">the difference between two adajacent voltage levels at output<br>
        B &nbsp;<input type="radio" name="q10" value="q10b"  id="q10b" onclick="ans10();"><label for="q10b">Value of Vhigh<br>
        C &nbsp;<input type="radio" name="q10" value="q10c" id="q10c" onclick="ans10();"><label for="q10c">Value of Vhigh-Vlow<br>
        D &nbsp;<input type="radio" name="q10" value="q10d" id="q10d" onclick="ans10();"><label for="q10d">Both c and a<br>

    </form>
    <br>
    <div id="ans10" style="display:none;color:blue;font-size:26px">Ans is A</div>
    <br>

	
	</div>
	
	
	<script name="display_quiz">
        function ans1()
        {
            var div1 = document.getElementById("ans1");
            div1.style.display = "inline";
        }
        function ans2() {
            var div2 = document.getElementById("ans2");
            div2.style.display = "inline";
        }
        function ans3() {
            var div3 = document.getElementById("ans3");
            div3.style.display = "inline";
        }
        function ans4() {
            var div4 = document.getElementById("ans4");
            div4.style.display = "inline";
        }
        function ans5() {
            var div5 = document.getElementById("ans5");
            div5.style.display = "inline";
        }
        function ans6() {
            var div6 = document.getElementById("ans6");
            div6.style.display = "inline";
        }
		function ans7() {
            var div7 = document.getElementById("ans7");
            div7.style.display = "inline";
        }
		function ans8() {
            var div8 = document.getElementById("ans8");
            div8.style.display = "inline";
        }
		function ans9() {
            var div9 = document.getElementById("ans9");
            div9.style.display = "inline";
        }
		function ans10() {
            var div10 = document.getElementById("ans10");
            div10.style.display = "inline";
        }
		
		
    </script>
	
	<script name="keyblocks">
document.onkeydown = function(e) {
if(event.keyCode == 123) {
return false;
}
if(e.ctrlKey && e.shiftKey && e.keyCode == 'I'.charCodeAt(0)){
return false;
}
if(e.ctrlKey && e.shiftKey && e.keyCode == 'J'.charCodeAt(0)){
return false;
}
if(e.ctrlKey && e.keyCode == 'U'.charCodeAt(0)){
return false;
}
}

</script> 

</body>